.AutomatedContainer{
    background-color:#19525B;
    color: black;
    position: fixed;
    display: flex;
}

#AutomatedButton{
    background-color:#68D2E1;
    border: none;
    font-size: medium;
    position: fixed;
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#AutomatedButton:hover {
    box-shadow: 0 0 7px #68D2E1;
}